@{
    ViewBag.Title = "Koduleht";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Koolitused</h1>
    </section>

    <div class="row">
        <section class="" aria-labelledby="gettingStartedTitle">
            <p class="fs-5">Tere tulemast meie kooli kursustele! Oleme pühendunud pakkuma kvaliteetset haridust erinevates valdkondades. Meie eesmärk on aidata õpilastel omandada uusi oskusi ja teadmisi, mis aitavad neil saavutada oma eesmärke nii isiklikus kui ka professionaalses elus. Meie kogenud õpetajad ja mitmekesised õppeprogrammid tagavad õpilastele rikkaliku õpikogemuse. Tule ja liitu meiega, et avastada uusi võimalusi ja arendada oma potentsiaali!</p>
            <p><img src="~/kool.jpg" alt="Koolitused" /></p>
        </section>
    </div>
</main>